input[type="file"] {
    display: none;
}

.litegraph-editor .header label {
    display: inline-block;
}

.litegraph-editor .header input {
    vertical-align: top;
    height: 32px;
}

.custom-file-select {
    /*font-family: "Metro Light";*/
    font-weight: normal;
    color: #ccc;
    font-size: 20px;
    min-width: 30px;
    /*border-radius: 0.3em;*/
    border: 0 solid #666;
    background-color: #3f3f3f;
    /*box-shadow: 0 0 3px black;*/
    padding: 4px 10px;
    cursor: pointer;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 0.4s;
    cursor: pointer;
}

.custom-file-select:hover {
    background-color: #999;
    color: #fff;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 0.4s;
}

.litegraph-editor .btn {
    /*font-family: "Metro Light";*/
    color: #ccc;
    font-size: 20px;
    min-width: 30px;
    /*border-radius: 0.3em;*/
    border: 0 solid #666;
    background-color: #3f3f3f;
    /*box-shadow: 0 0 3px black;*/
    padding: 4px 10px;
    cursor: pointer;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 0.4s;
}

.litegraph-editor .selector {
    font-size: 20px;
}